$color-white:#ffffff;

.navbar{

    .navbar-brand{
        padding-right: 19px;
    }

    .input-search{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .button-search{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .nav-link-menu{
        color: #fff;
        font-size: large;
    }

    .menu{
        button{
            background: transparent;
            border: none;
        }

        >li>button:hover{
            color:$color-white;
            border-bottom: 1px solid #cccc40;
        }
     
        >li>button:active{
            border-bottom: 1px solid #cccc40;
        }

        .dropdown-menu{
            li:hover button{
                background-color: #1d1d1d;
                color:$color-white;
            }
        }
    }
}

@media (max-width:767px){
    nav>div:first-child{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        .navbar-nav{
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            width: 100%;
        }

        .container-search{
            width: 100%!important;
        }
    }


    .container-subtitle{
        margin-top: 10rem!important;
    }
}